@model br.mateus.DesafioMinhaVida.Models.Guitarra

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Deletar</h2>

<h3>Tem certeza que quer deleta-lá?</h3>
<div>
    <h4>Guitarra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImagem)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
