@model br.mateus.DesafioMinhaVida.ViewModel.GuitarraViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Guitarra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>
        <dt>
            Miniatura de Imagem
        </dt>
        <dd>
            <img src="@Model.UrlImagem" class="img-responsive col-sm-2" />
        </dd>
    </dl>

    <a href="#imgGuitarra" class="btn btn-primary" onclick="$('#imgGuitarra').modal();">Ver Imagem</a>
</div>
<div class="modal col-lg-8 fade" tabindex="-1" role="dialog" id="imgGuitarra">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body center-block">

                <img src="@Model.UrlImagem" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
</p>
